.block {
    margin: 250px;
    width: 1400px;
    background-color: aliceblue;
}

.row {
    background-color: darkcyan;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.col {
    background-color: chocolate;
    padding: 5px;
    width: 400px;
    font-size: 20px;
    line-height: 200px;
    border: 1px solid black;
    text-align: center;
}

.col2{
}